<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Letti_ItauShopline>
			<version>0.1.0</version>
		</Letti_ItauShopline>
	</modules>
	<global>
		<models>
			<itaushopline>
				<class>Letti_ItauShopline_Model</class>
			</itaushopline>
		</models>
		<resources>
			<itaushopline_setup>
				<setup>
					<module>Letti_ItauShopline</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</itaushopline_setup>
			<itaushopline_write>
				<connection>
					<use>core_write</use>
				</connection>
			</itaushopline_write>
			<itaushopline_read>
				<connection>
					<use>core_read</use>
				</connection>
			</itaushopline_read>
		</resources>
		<blocks>
			<itaushopline>
				<class>Letti_ItauShopline_Block</class>
			</itaushopline>
			<adminhtml>
				<rewrite>
					<sales_order_payment>Letti_ItauShopline_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<itaushopline>
				<class>Mage_Core_Helper</class>
			</itaushopline>
		</helpers>
	</global>
	<frontend>
        <routers>
            <itaushopline>
                <use>standard</use>
                <args>
                    <module>Letti_ItauShopline</module>
                    <frontName>itaushopline</frontName>
                </args>
            </itaushopline>
        </routers>
		<layout>
			<updates>
				<itaushopline>
					<file>letti/itaushopline.xml</file>
				</itaushopline>
			</updates>
		</layout>
		<translate>
			<modules>
				<Letti_ItauShopline>
					<files>
						<default>Letti_ItauShopline.csv</default>
					</files>
				</Letti_ItauShopline>
			</modules>
		</translate>
	</frontend>
	<default>
		<payment>
			<itaushopline>
				<active>0</active>
				<model>itaushopline/itauShopline</model>
				<order_status>pending</order_status>
				<title>Itaú Shopline</title>
				<checkout_message>Page com boleto ou faça sua transferência online pelo banco Itaú.</checkout_message>
			</itaushopline>
		</payment>
	</default>
</config>
