<?xml version="1.0" encoding="UTF-8"?>
<config>
      
    <!-- Declaração do módulo -->
    <modules>
        <Letti_ItauShopline>
            <version>0.1.0</version>
        </Letti_ItauShopline>
    </modules>
    
    <!-- Configurações globais do módulo -->
    <global>
       
        <!-- Configurações das classes da camada model (MVC) -->
        <models>
            <itaushopline>
                <!-- Define local onde estarão as classes model (Letti/itaushopline/Model) -->
                <class>Letti_ItauShopline_Model</class>
            </itaushopline>
        </models>
        
        <helpers>
            <itaushopline>
                <class>Letti_ItauShopline_Helper</class>
            </itaushopline>
        </helpers>
            
        <blocks>
            <itaushopline>
                <class>Letti_ItauShopline_Block</class>
            </itaushopline>
            <adminhtml>
                <rewrite>
                    <sales_order_payment>Letti_ItauShopline_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
                </rewrite>
            </adminhtml>
        </blocks>
        
        <!-- Configurações de conexão com o db -->
        <resources>
            <itaushopline_setup>
                <setup>
                    <module>Letti_ItauShopline</module>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </setup>
            </itaushopline_setup>
            <itaushopline_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </itaushopline_write>
            <itaushopline_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </itaushopline_read>
        </resources>
	</global>
    
    <adminhtml>
        <layout>
            <updates>
                <itaushopline>
                    <file>itaushopline.xml</file>
                </itaushopline>
            </updates>
        </layout>
    </adminhtml>
    
    <!-- Configurações do frontend (interações com usuário) -->
    <frontend>
        <!-- Regras de roteamento de páginas (controllers) -->
        <routers>
            <!-- Módulo bolleto -->
            <itaushopline>
                <use>standard</use>
                <args>
                    <module>Letti_ItauShopline</module> <!-- diretório onde estão localizados os arquivos do módulo -->
                    <frontName>itaushopline</frontName> <!-- nome utilizado para acessar a página ex: magento.com/itaushopline -->
                </args>
            </itaushopline>
        </routers>
        
        <!-- Configurações do layout -->
        <layout>
            <updates>
                <itaushopline>
                    <!-- Nome do arquivo responsável pelo layout do módulo -->
                    <file>itaushopline.xml</file> 
                </itaushopline>
            </updates>
        </layout>
	</frontend>
	
	<default>
        <payment>
            <itaushopline>
                <title>Itaú Shopline</title>
                <active>1</active>
                <model>itaushopline/itauShopline</model>
                <order_status>pending</order_status>
            </itaushopline>
        </payment>
    </default>
</config>
